@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {

.discount_image{
  background-position-x: center -800px;
  background-position-y: center -100px;
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 3px solid black; */
  /* object-fit: cover; */
}
  .discount{
    position: relative;
    background-position-x: -0%;
    border-radius: 50%;
    /* background-image: url('../../public/imgs/logo.png'); */
    background-image: url('../../public/imgs/laundry-attendant.jpg');
    /* background-size: 20%; */
    /* background-repeat: repeat-x; */
    /* clip-path: polygon(55% 11%, 100% 31%, 82% 100%, 18% 100%, 0 32%); */
    object-fit: scale-down;
    /* clip-path: polygon(52% 76%, 100% 56%, 82% 100%, 18% 100%, 0 59%); */
    /* object-position: center; */
    /* aspect-ratio: 1; */

    /* object-fit: cover; */
    /* background-image: url('https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=100 100w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=200 200w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=400 400w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=800 800w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=1200 1200w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=1600 1600w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=2000 2000w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449'); */
    
    height: max-content;
    /* clip-path: polygon(0 0, 100% 0, 100% 55%, 0 93%); */

    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.7);
      clip-path: polygon(0 0, 100% 0, 100% 55%, 0 93%);
      /* border: 3px solid black; */
      z-index: 10;
    }
  }

  .user_profile{
    -webkit-text-stroke: 1px white;
    &:hover{
      -webkit-text-stroke: 1px #1665F8;
    }
    /* color: black */
  }

  .animate{
    height:auto;
    transition: height 1s ease;
  }

  .unanimate{
    height:0;
    transition: height 1s ease;
  }

  .landing{
    position: relative;
    /* background-position-y: top; */
    /* background-image: url('../../public/imgs/logo.png'); */
    background-image: url('../../public/imgs/happy_girl.jpg');
    background-size: 90%;
    /* background-repeat: repeat-x; */
    object-fit: scale-down;
    /* object-position: center; */
    /* aspect-ratio: 1; */

    /* object-fit: cover; */
    /* background-image: url('https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=100 100w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=200 200w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=400 400w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=800 800w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=1200 1200w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=1600 1600w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449?width=2000 2000w, https://cdn.builder.io/api/v1/image/assets%2F661e1fa212c74d1c94d19e320025bbf6%2F5ea1089a8cd44b328caf928701bab449'); */
    
    height: max-content;
    /* clip-path: polygon(0 0, 100% 0, 100% 55%, 0 93%); */

    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.1);
      clip-path: polygon(0 0, 100% 0, 100% 55%, 0 93%);
      /* border: 3px solid black; */
      z-index: 10;
    }
  }

}


